.textoVermelho{
    color: red;
}
.textoAzul{
    color: blue;
}
.textoAmarelo{
    color: yellow;
}
.textoLaranja{
    color: orange;
}
.textoRoxo{
    color: purple;
}
.textoPreto{
    color: black;
}