body{
    font-family: sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    padding: 30px;
}

.container button{
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: lightgray;
    box-shadow: 2px 2px 2px gray;
}

.titulo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h1 {
    margin: 0px;
}

.titulo img {
    width: 20px;
    height: 40px;
}

.inputs{
    display: flex;
}

.inputs div{
    margin: 10px;
}

#resultado{
    color: blue;
    font-weight: bold;
}